<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.booksystem.dao.BookDao">
   <!--查询所有图书-->
    <select id="getAllBooks" resultMap="bookMap">
        select bid,bname,bauthor from book
    </select>

    <!--配置数据表和实体的映射关系-->
    <resultMap id="bookMap" type="book" >
        <id column="bid" property="bid"/>
        <result property="bname" column="bname"/>
        <result column="bauthor" property="bauthor"/>
    </resultMap>

</mapper>